
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 20px;">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card ">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-link"></i>
                    查询条件
                </div>
                <div class="layui-card-body">
                    <div class="layui-inline layui-show-xs-block">
                        <input class="layui-input" autocomplete="off" placeholder="请输入关键字" name="keyword" id="keyword">
                    </div>

                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn" lay-filter="btnRoleQuery" id="btnRoleQuery"><i class="layui-icon"></i></button>
                        <button class="layui-btn" lay-filter="btnAddRole" id="btnAddRole"><i class="layui-icon"></i>添加</button>
                    </div>

                    <table id="roleTable" class="layui-table layui-form" lay-filter="roleTable"></table>


                </div>


            </div>
        </div>

        <div class="layui-col-md6">
            <div class="layui-card ">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-table" style="font-size:20px"></i>
                    查询结果
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">

                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">菜单</li>
                            <li>人员</li>


                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <button class="layui-btn" lay-filter="btnRoleOperationFunctionSave" id="btnRoleOperationFunctionSave"><i class="layui-icon"></i>保存</button>
                                <div id="divRoleOperationFunctionTree"></div>
                            </div>
                            <div class="layui-tab-item">
                                <button class="layui-btn" lay-filter="btnRoleUserAdd" id="btnRoleUserAdd"><i class="layui-icon"></i>新增</button>
                                <table id="roleUserTable" class="layui-table layui-form" lay-filter="roleUserTable"></table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/html" id="deleteBar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    </script>

    <script type="text/javascript">
        var table = "";
        var uniqueId = "";
        layui.use(["layer", "table", "element"], function () {
            table = layui.table;
            var form = layui.form;
            table.render({
                elem: '#roleTable',
                height: GLOBAL_TABLE_HEIGHT,

                method: "post",
                url: '@Url.Content("~/Api/Sys/Role/Query")',
                page: GLOBAL_TABLE_PAGE, //开启分页
                cols: [[
                    { field: 'Id', title: '编号', sort: true }
                    , { field: 'Name', title: '名称', sort: true }
                    , { fixed: 'right', width: 150, title: "操作", align: 'center', toolbar: '#bar' }
                ]],
                where: { keyWord: $("#userParameterKeyword").val() },
                toolbar: GLOBAL_TABLE_TOOBAR,
                limit: GLOBAL_TABLE_LIMIT,
                limits: GLOBAL_TABLE_LIMITS,
                loading: true,
                skin: GLOBAL_TABLE_SKIN, //行边框风格
                even: GLOBAL_TABLE_EVEN //开启隔行背景
            });



            table.on('tool(roleTable)', function (obj) {

            var data = obj.data;
                var uniqueId = data.UniqueId;
                debugger
            if (obj.event === 'edit') {

             $.ajax({
                     url: '@Url.Content("~/Sys/Role/InputForm?uniqueId=")' + uniqueId,
                     type: "get",
                     dataType:"html",
                     success: function (result) {
                         layer.open({
                         type: 1,
                         title: "修改角色信息",
                         content: result,
                         area: ["800px", "500px"],
                         shade: 0.3, //不显示遮罩
                         end: function () {
                             refreshRoleTable();
                         }
                     });
                 }
             });
            } else if (obj.event === 'delete') {
                layer.confirm('是否删除数据', function (index) {

                    $.ajax({
                        url: '@Url.Content("~/api/Sys/Role/Delete")?uniqueId=' + uniqueId ,
                        type: "get",
                         success: function (result) {
                          if (result.IsSuccess) {
                              layer.msg('删除成功');
                              refreshRoleTable();
                          } else {
                              layer.msg(result.Message);
                          }
                    }
                });

                });
            }
            });



            table.on('row(roleTable)', function (obj) {
                var data = obj.data;
                uniqueId = data.UniqueId;
                InitRoleOperationFunctionTree(data.UniqueId);

                QueryRoleUser(data.UniqueId);
            });

            table.on('tool(roleUserTable)', function (obj) {
            var data = obj.data;
                var deieteUniqueId = data.UniqueId;
                layer.confirm('是否删除数据', function (index) {
                    $.ajax({
                        url: '@Url.Content("~/api/Sys/Role/DeleteRoleUser")?uniqueId=' + deieteUniqueId ,
                        type: "get",
                         success: function (result) {
                          if (result.IsSuccess) {
                              layer.msg('删除成功');
                              QueryRoleUser(uniqueId);
                          } else {
                              layer.msg(result.Message);
                          }
                    }
                });

                });
           
            });




            $("#btnRoleQuery").click(function () {
                table.reload('roleTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: { keyWord: $("#keyword").val() },
                }, 'data');


            });


            function refreshRoleTable() {
                table.reload('roleTable', {
                    where: { keyWord: $("#keyword").val() },
                }, 'data');
            }


            $("#btnAddRole").click(function () {
                   $.ajax({
                     url: '@Url.Content("~/Sys/Role/InputForm?uniqueId=")'+"",
                     type: "get",
                     dataType:"html",
                       success: function (result) {
                           debugger

                            layer.open({
                                type:1,
                                title: "新增角色信息",
                                content: result ,
                                area: ["800px", "500px"],
                                shade: 0.3, //不显示遮罩
                                end: function () {
                                    refreshRoleTable();
                        }
                  });
                 }
             });

            });


            function InitRoleOperationFunctionTree(roleUnqiueId) {
                $.ajax({
                    url: '@Url.Content("~/Sys/Role/RoleOperationFunctionTree?uniqueId=")' + roleUnqiueId,
                    type: "get",
                    dataType:"html",
                    success: function (result) {
                        $("#divRoleOperationFunctionTree").html(result);
                 }
             });

            }

            function QueryRoleUser(roleUniqueId) {
                 table.render({
                 elem: '#roleUserTable',
                 height: GLOBAL_TABLE_HEIGHT,
                method: "post",
                url: '@Url.Content("~/Api/Sys/User/QueryUserByRoleUniqueId")',
                page: GLOBAL_TABLE_PAGE, //开启分页
                cols: [[
                   { field: 'Id', title: '编号', sort: true }
                    , { field: 'Name', title: '名称', sort: true }
                    , { fixed: 'right', width: 150, title: "操作", align: 'center', toolbar: '#deleteBar' }
                ]],
               where: { roleUniqueId: roleUniqueId },
                toolbar: GLOBAL_TABLE_TOOBAR,
                limit: GLOBAL_TABLE_LIMIT,
                limits: GLOBAL_TABLE_LIMITS,
                loading: true,
                skin: GLOBAL_TABLE_SKIN, //行边框风格
                even: GLOBAL_TABLE_EVEN //开启隔行背景
            });


            }



            
            $("#btnRoleUserAdd").click(function () {
                if (uniqueId) {
                    $.ajax({
                        url: '@Url.Content("~/Sys/Role/SelectRoleUser?uniqueId=")' + uniqueId,
                        type: "get",
                        dataType: "html",
                        success: function (result) {
                            debugger

                            layer.open({
                                type: 1,
                                title: "新增角色人员信息",
                                content: result,
                                area: ["800px", "500px"],
                                shade: 0.3, //不显示遮罩
                                end: function () {
       
                                    QueryRoleUser(uniqueId);
                                }
                            });
                        }
                    });
                } else {
                    layer.msg('请选择角色');
                }
                 

            });



        });
    </script>


}

