
@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@using MIS.UI.Filters

<script src="~/Content/jsTree/jstree.js"></script>
<link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">

                    <i class="layui-icon layui-icon-link"></i>查询条件
                </div>
                <div class="layui-card-body">
                    <div id="divOrganizationTree">

                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header ">
                    <div class="layui-row">
                        <div class="layui-col-md10 layui-col-sm6 layui-col-xs6">
                            <i class="layui-icon layui-icon-table pull-right" style="font-size:20px"></i>
                            查询结果
                        </div>
                        <div class="layui-col-md2  layui-col-sm6  layui-col-xs6">
                           
                                <button class="layui-btn authorization" lay-filter="btnAddOrganization" id="btnAddOrganization" action-id="Add" onclick="Add('')"><i class="layui-icon"></i>添加</button>

                          

                        </div>
                    </div>



                </div>
                <div class="layui-card-body">
                    <table id="organizationTable" class="layui-table layui-form" lay-filter="organizationTable"></table>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var organizationUniqueId = "";
        layui.use(["layer", "table"], function () {

            table = layui.table;

            table.render({
                elem: '#organizationTable',
                height: GLOBAL_TABLE_HEIGHT,

                method: "post",
                url: '@Url.Content("~/Api/Sys/Organization/Query")',
                page: GLOBAL_TABLE_PAGE, //开启分页
                cols: [[

                     { field: 'Id', title: '编号', sort: true }
                    , { field: 'Name', title: '姓名', sort: true }
                    , { field: 'Parent', title: '父节点', sort: true }
                    , { field: 'Manager', title: '负责人', sort: true }
                    , { field: 'Seq', title: '排序', sort: true, sort: true }
                    , { fixed: 'right', width: 150, title: "操作", align: 'center', toolbar: '#bar' }
                ]],
                where: { UniqueId: organizationUniqueId },
                toolbar: GLOBAL_TABLE_TOOBAR,
                limit: GLOBAL_TABLE_LIMIT,
                limits: GLOBAL_TABLE_LIMITS,
                loading: true,
                skin: GLOBAL_TABLE_SKIN, //行边框风格
                even: GLOBAL_TABLE_EVEN //开启隔行背景
            });



            table.on('tool(organizationTable)', function (obj) {
                debugger
                var data = obj.data;
                var uniqueId = data.UniqueId;
                if (obj.event === 'edit') {
                 Edit(uniqueId);
                } else if (obj.event === 'delete') {
                    Delete(uniqueId)
                }
            });

            InitOrganizationTree();
        });

         function InitOrganizationTree() {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Sys/Organization/Tree")',
                async: false,
                dataType: "html",
                success: function (data) {
                    $("#divOrganizationTree").html(data);
                }
            });
            };
          function Add(uniqueId) {
                $.ajax({
                         url: '@Url.Content("~/Sys/Organization/InputForm?uniqueId=")' + "" + "&parentUniqueId=" + uniqueId,
                         type: "get",
                         dataType:"html",
                         success: function (result) {
                             layer.open({
                             type: 1,
                             title: "新增部门信息",
                             content: result,
                             area: ["800px", "500px"],
                             shade: 0.3, //不显示遮罩
                             end: function () {
                                 RefreshOrganizationTable();
                                 InitOrganizationTree();
                             }
                         });
                     }
                 });

            }

            function Edit(uniqueId) {
                   $.ajax({
                         url: '@Url.Content("~/Sys/Organization/InputForm?uniqueId=")' + uniqueId  ,
                         type: "get",
                         dataType:"html",
                         success: function (result) {
                             layer.open({
                             type: 1,
                             title: "修改部门信息",
                             content: result,
                             area: ["800px", "500px"],
                             shade: 0.3, //不显示遮罩
                             end: function () {
                                 RefreshOrganizationTable();
                                 InitOrganizationTree();
                             }
                         });
                     }
                 });


            }

        function Delete(uniqueId) {
              layer.confirm('是否删除数据', function (index) {
                        $.ajax({
                            url: '@Url.Content("~/api/Sys/Organization/Delete")?uniqueId=' + uniqueId ,
                            type: "get",
                             success: function (result) {
                              if (result.IsSuccess) {
                                  layer.msg('删除成功');
                                  InitOrganizationTree();
                                  RefreshOrganizationTable();
                              } else {
                                  layer.msg(result.Message);
                              }
                        }
                    });

                    });
            }

        function RefreshOrganizationTable() {
            debugger
                table.reload('organizationTable', {
                    where: { UniqueId: organizationUniqueId },
                }, 'data');
            }

    </script>
}



