
@{
    ViewBag.Title = "InputForm";
    Layout = null;

}




<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 layui-col-sm6 layui-col-xs6">
            <div class="layui-card">
                <div class="layui-card-header">

                    公告内容
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" name="announcementInputForm" lay-filter="announcementInputForm">
                        <button type="submit" class="layui-btn" lay-submit lay-filter="saveAnnouncementInputForm">提交</button>
                        <input type="hidden" name="UniqueId" id="UniqueId" />
                        <input type="hidden" name="SelectedUserUniqueId" id="SelectedUserUniqueId" />

                        <table class="layui-table">
                            <tr>
                                <th>标题</th>
                                <td colspan="3">
                                    <input type="text" value="" name="Title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />
                                </td>

                            </tr>
                            <tr>
                                <th>开始时间</th>
                                <td>
                                    <input type="text" value="" id="StartDate" name="StartDate" placeholder="请输入开始时间" autocomplete="off" class="layui-input" readonly />
                                </td>
                                <th>结束时间</th>
                                <td>
                                    <input type="text" value="" name="EndDate" id="EndDate" placeholder="请输入结束时间" autocomplete="off" class="layui-input" readonly />
                                </td>
                            </tr>

                            <tr>
                                <th>等级</th>
                                <td>
                                    @*<input type="text" value="" name="Levels" placeholder="请输入等级" autocomplete="off" class="layui-input" />*@

                                    <select name="Levels" id="Levels">
                                        <option></option>

                                    </select>
                                </td>
                                <th></th>
                                <td></td>
                            </tr>


                            <tr>
                                <th>内容</th>
                                <td colspan="3">
                                    <input type="text" value="" name="Contents" placeholder="请输入内容" id="Contents" autocomplete="off" class="layui-input"  />
                                </td>

                            </tr>

                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6 layui-col-xs6">
            <div class="layui-card">
                <div class="layui-card-header ">
                    <div class="layui-row">

                       
                        公告人员


                    </div>



                </div>
                <div class="layui-card-body">
                 <div id="organizationUserTree"></div>
                </div>
            </div>
        </div>

    </div>
</div>







<script>
    layui.use(['form', "laydate", 'layedit'], function () {
        var form = layui.form;
        var uniqueId = "@ViewBag.UniqueId";
        var laydate = layui.laydate;
        var layedit = layui.layedit;
        let index = "";
        var selectedData = "";

        laydate.render({
            elem: '#StartDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#EndDate',
            trigger: 'click'
        });

        if (uniqueId) {
            $.ajax({
                type: "Get",
                url: '@Url.Content("~/Api/Sys/Announcement/GetItemByUniqueId?uniqueId=")' + uniqueId,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
        
                success: function (data) {
                    //赋值

                  


                    form.val('announcementInputForm', data);
                    index = layedit.build("Contents");


                    selectedData = { "selectedUser": JSON.stringify(data.SelectedUserUniqueId) }
                     $.ajax({
                        url: '@Url.Content("~/Sys/User/OrganizationUser")',
                        type: "post",
                        dataType: "html",
                        data: selectedData,
                        success: function (result) {
                            $("#organizationUserTree").html(result);
                        }
                    });

                }
            });
        } else {
            index = layedit.build("Contents");

            selectedData = { "selectedUser": [] }
             $.ajax({
                        url: '@Url.Content("~/Sys/User/OrganizationUser")',
                        type: "post",
                        dataType: "html",
                        data: selectedData,
                        success: function (result) {
                            $("#organizationUserTree").html(result);
                        }
                    });

        }
                   




        form.on('submit(saveAnnouncementInputForm)', function (data) {
            data.field.SelectedUserUniqueId = getChecked();
            data.field.Contents = layedit.getContent(index);

            var data = JSON.stringify(data.field);


            if (uniqueId) {
                $.ajax({
                    url: '@Url.Content("~/api/Sys/Announcement/Edit")',
                    type: "post",
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "X-HTTP-Method-Override": "POST"
                    },
                    data: data,
                    async: false,
                    success: function (result) {
                        if (result.IsSuccess) {
                            layer.msg('修改成功');
                            layer.closeAll();
                        } else {
                            debugger
                            layer.msg(result.Message);
                        }
                    }
                });
            } else {
                debugger
                $.ajax({
                    url: '@Url.Content("~/api/Sys/Announcement/Add")',
                    type: "post",
                    dataType: "json",
                    async: false,
                    headers: {
                        "Content-Type": "application/json",
                        "X-HTTP-Method-Override": "POST"
                    },
                    data: data,
                    success: function (result) {
                        if (result.IsSuccess) {
                            layer.msg('新增成功');
                            layer.closeAll();
                        } else {
                            layer.msg(result.Message);
                        }
                    }
                });
            }



            return false;
        });

    


        $.selectExtens("Levels", "AnnouncementLevels");
        form.render("select");            // 刷性select，显示出数据


      

    });

</script>


