@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/jsTree/jstree.js"></script>
<link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">

                    <i class="layui-icon layui-icon-link"></i>查询条件
                </div>
                <div class="layui-card-body">
                    <div id="divSysCodeTree">

                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header ">
                    <div class="layui-row">
                        <div class="layui-col-md11 layui-col-sm8 layui-col-xs8">
                            <i class="layui-icon layui-icon-table pull-right" style="font-size:20px"></i>
                            查询结果
                        </div>
                        <div class="layui-col-md1  layui-col-sm4  layui-col-xs4">   <button class="layui-btn " lay-filter="btnAddSysCode" id="btnAddSysCode" onclick="Add('')"><i class="layui-icon"></i>添加</button></div>
                    </div>



                </div>
                <div class="layui-card-body">
                    <table id="sysCodeTable" class="layui-table layui-form" lay-filter="sysCodeTable"></table>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var sysCodeUniqueId = "";
        layui.use(["layer", "table"], function () {

            table = layui.table;

            table.render({
                elem: '#sysCodeTable',
                height: GLOBAL_TABLE_HEIGHT,

                method: "post",
                url: '@Url.Content("~/Api/Sys/SysCode/Query")',
                page: GLOBAL_TABLE_PAGE, //开启分页
                cols: [[
             
                     { field: 'CodeValue', title: '值', sort: true }
                    , { field: 'CodeText', title: '显示值', sort: true }
                    , { field: 'Sort', title: '排序', sort: true, sort: true }
                    , { fixed: 'right', width: 150, title: "操作", align: 'center', toolbar: '#bar' }
                ]],
                where: { UniqueId: sysCodeUniqueId },
                toolbar: GLOBAL_TABLE_TOOBAR,
                limit: GLOBAL_TABLE_LIMIT,
                limits: GLOBAL_TABLE_LIMITS,
                loading: true,
                skin: GLOBAL_TABLE_SKIN, //行边框风格
                even: GLOBAL_TABLE_EVEN //开启隔行背景
            });



            table.on('tool(sysCodeTable)', function (obj) {
                debugger
                var data = obj.data;
                var uniqueId = data.UniqueId;
                if (obj.event === 'edit') {
                 Edit(uniqueId);
                } else if (obj.event === 'delete') {
                    Delete(uniqueId)
                }
            });

            InitSysCodeTree();
        });

         function InitSysCodeTree() {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Sys/SysCode/Tree")',
                async: false,
                dataType: "html",
                success: function (data) {
                    $("#divSysCodeTree").html(data);
                }
            });
            };
          function Add(uniqueId) {
                $.ajax({
                         url: '@Url.Content("~/Sys/SysCode/InputForm?uniqueId=")' + "" + "&parentUniqueId=" + uniqueId,
                         type: "get",
                         dataType:"html",
                         success: function (result) {
                             layer.open({
                             type: 1,
                             title: "新增参数信息",
                             content: result,
                             area: ["800px", "500px"],
                             shade: 0.3, //不显示遮罩
                             end: function () {
                                 RefreshSysCodeTable();
                                 InitSysCodeTree();
                             }
                         });
                     }
                 });

            }

            function Edit(uniqueId) {
                   $.ajax({
                         url: '@Url.Content("~/Sys/SysCode/InputForm?uniqueId=")' + uniqueId  ,
                         type: "get",
                         dataType:"html",
                         success: function (result) {
                             layer.open({
                             type: 1,
                             title: "修改参数信息",
                             content: result,
                             area: ["800px", "500px"],
                             shade: 0.3, //不显示遮罩
                             end: function () {
                                 RefreshSysCodeTable();
                                 InitSysCodeTree();
                             }
                         });
                     }
                 });


            }

        function Delete(uniqueId) {
              layer.confirm('是否删除数据', function (index) {
                        $.ajax({
                            url: '@Url.Content("~/api/Sys/SysCode/Delete")?uniqueId=' + uniqueId ,
                            type: "get",
                             success: function (result) {
                              if (result.IsSuccess) {
                                  layer.msg('删除成功');
                                  InitSysCodeTree();
                                  RefreshSysCodeTable();
                              } else {
                                  layer.msg(result.Message);
                              }
                        }
                    });

                    });
            }

        function RefreshSysCodeTable() {
            debugger
            table.reload('sysCodeTable', {
                where: { UniqueId: sysCodeUniqueId },
                }, 'data');
            }





    </script>
}



